{% raw %}
<!doctype html>
<html>
<head>
    <title>{% block title %}{% endraw %}{{ cookiecutter.web_title }}{% raw %}{% endblock %}</title>
    {% block head %}
        {% include 'base/meta.html' %}
        {% include 'base/css.html' %}
        {% include 'base/js.html' %}
    {% endblock %}
</head>
<body>
	{% block body%}{% endblock %}
</body>
</html>
{% endraw %}
