{% raw %}
<script src="{{ url_for('static', filename='js/jQuery/jquery-2.1.4.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap/bootstrap.min.js') }}"></script>

{#
<!-- CDN version -->
<script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
#}

<!--[if lt IE 9]>
    <script src="{{ url_for('static', filename='js/IE/ie8-responsive-file-warning.js') }}"></script>
<![endif]-->
<script src="{{ url_for('static', filename='js/IE/ie-emulation-modes-warning.js') }}"></script>
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
{% endraw %}
