{% raw %}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="{% endraw %}{{ cookiecutter.web_author }}{% raw %}">

<link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}">

{% endraw %}
