{%- raw %}
{% extends  'base/base.html' %}
{% block body %}
<p>{{ _('Ups! Something was wrong. Please, go the home page.') }}<a href="{{ url_for('index') }}">{{ _('Home') }}</a></p>
{% endblock %}
{% endraw %}
